{{ template "chrome/header.html" . }}
{{ template "chrome/subheader.html" . }}
{{ $baseurl := .Site.BaseUrl }}

<div id="content">
    <div id="main_title">
        {{ .Title }}
    </div>

    <section id="main">
        {{ .Content }}

        Written: {{ .Date.Format "Mon Jan 2, 2006" }}

        <br>
        {{ .FuzzyWordCount }} Words

        {{ if .Params.topics }}
        <br>
            Topics:
            {{ range .Params.topics }}
                {{ . }}
            {{ end }}
        {{ end }}

        {{ if .Params.tags }}
            <br>
            Tags: 
            {{ range .Params.tags }}
                {{ . }}
            {{ end }}
        {{ end }}

        <br><br>

        {{ if .Prev }}
        Prev: <a href={{ .Prev.Permalink }}>{{ .Prev.Title }}</a>
        {{ end }}

        <br>

        {{ if .Next }}
        Next: <a href={{ .Next.Permalink }}>{{ .Next.Title }}</a>
        
        {{ end }}

    </section>

    {{ template "chrome/footer.html" . }}
</div>

