<div id="sidebar">

    <!-- a wild table appears! -->
    <table style="margin-left:auto;margin-right:auto;font-size:3em;padding-top:1em;">
        <tr>
            <td>
                <a href="/">
                    <div style="color:black">
                        a.e.i.
                    </div>
                </a>
            </td>
            <td>

                <a href="/">
                    <div style="color:#9370DB;">
                        ko
                    </div>
                </a>
            </td>
            <td>
                <a href="/">
                    <div style="color:black">
                        .u
                    </div>
                </a>
            </tr>
        </table>

    <div style="text-align:center; line-height:200%">
        <h3>by ko</h3>
        <a href="{{ .Site.BaseUrl }}/post">blog</a><br/>
        <a href="{{ .Site.BaseUrl }}/writeup">writeups</a><br/>
        <a href="{{ .Site.BaseUrl }}/project">projects</a><br/>
        <a href="http://kenkophoto.com">photography</a><br/>
        <a href="http://relurori.com">self</a><br/>
    </div>


    <div style="text-align:center; line-height:200%;">
        <h3>find ko</h3>
        <a href="http://www.flickr.com/photos/yaksok/">flickr</a><br/>
        <a href="http://www.linkedin.com/in/kenko">linkedin</a><br/>
        <a href="https://github.com/ko">github</a><br/>
        <a href="https://bitbucket.org/kennethko/">bitbucket</a><br/>
    </div>

    <div style="padding-bottom:100px;">
        <!-- spacer -->
    </div>
</div>
