body,
html {
    font-family: 'Droid Sans';
    margin:0;
    padding:0;
    color:#000;
    background:#f2f2f2;
    float:left;
}

.index-meta {
    font-size:1em;
    font-style:oblique;
}

.index-summary {
    font-size:1em;
    line-height:170%;
}

#sidebar {
    position: fixed;
    height:100%;
    width:340px;
    padding:10px;
    background:#f1f1f1;
    overflow-y:auto;
}

#content {
    background-color:#f1f1f1;
    position:absolute;
    left:360px;
    padding-left:10px;
    padding-right:50px;
    padding-top:10px;
    min-width: 700px;
}

#main_title {
    font-size:3em;
    padding-top:1em;
    text-align:center;
}

#main {
    padding-top:1em;
}

footer { 
    position: absolute;
    padding-bottom:3em;
}


#codeblock {
    font-family: 'Inconsolata';
}

h1 {
    margin:0;
}

h2 {
    margin:0 0 1em;
}

a {
    text-decoration:none;
    color:#32CD99;
}
